body {
  margin: 0;
  background-image: url(/Images/background.jpg);
  background-size: cover;
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Sriracha", cursive;
  font-size: 4rem;
  margin: 0;
  padding-top: 0.5rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #09418f;
  margin: 0;
}
hr {
  border-style: dotted;
  border-width: 7px;
  border-bottom: none;
  width: 5%;
}
p {
  padding: 0 15px;
}
.par1 {
  color: #09418f;
}
.top-container {
  margin-bottom: 25px;
  width: 100%;
}
.profile {
  width: 30%;
}
.top-cloud {
  position: absolute;
  right: 20%;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
}
.middle-img {
  width: 30%;
  max-width: 200px;
  float: left;
  margin-right: 30px;
}
.tiger {
  width: 30%;
  max-width: 200px;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 70%;
  text-align: left;
  line-height: 1.5;
  margin: 10px auto;
}
.button {
  background: radial-gradient(hsl(26, 80%, 53%), rgb(129, 58, 3));
  padding: 5px;
  text-decoration: none;
  border-radius: 8px;
}
.button:hover {
  background: rgb(216, 119, 1);
}
.button:active {
  background-color: rgb(216, 178, 9);
}
.btn {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-container {
  position: relative;
}
.footer-link1 {
  position: relative;
  bottom: 4px;
}
.copyright {
  font-size: 0.7rem;
  color: #dfe0e2;
  display: inline;
  position: relative;
  bottom: 20px;
  left: 5px;
}
.bottom-container {
  background: hsl(0, 0%, 17%);
  border-radius: 7px 7px 0 0;
}
.year {
  text-align: right;
  display: inline;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: small;
  color: azure;
}
